.login-types-form {
  margin-top: 50px;
}

.login-types-table {
  margin: 35px 0;
}

.login-types-row {
  padding: 15px 10px;
  width: 100%;
  cursor: default !important;
}

.login-types-row__enabled {
  margin-top: 3px;
  padding-right: 5px;
}

.login-types-row__icon {
  display: flex;
  align-items: center;
  padding-left: 18%;
}

.login-type-icon {
  height: 40px;
  width: 40px;
}

.section-field {
  margin-top: 45px;
  width: 250px;
}