@font-face {
  font-family: 'CirceRegular';
  src: url('../../assets/fonts/Circe-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CirceBold';
  src: url('../../assets/fonts/Circe-Bold.woff');
  font-weight: 700;
  font-style: normal;
}