# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.env
*.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor
db.db
debug

integrations/aws/identifo lambda/Identifo
integrations/aws/*/jwt/*.pem
integrations/*/*/static/apple
integrations/*/*/static/admin_panel/build
integrations/*/*/identifo-admin-master
integrations/*/*/master.zip
static/apple/apple-app-site-association
static/apple/apple-developer-domain-association.txt
static/admin_panel/build
static/admin_panel/identifo-admin-master
static/admin_panel/master.zip
integrations/aws/identifo lambda/.env