# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.env
*.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor
db.db
debug

admin_panel/build
admin_panel/identifo-admin-develop
admin_panel/develop.zip