# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.env
*.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor
db.db
debug

admin_panel/build
admin_panel/identifo-admin-master
admin_panel/master.zip
integrations/aws/identifo lambda/Identifo
integrations/aws/*/jwt/*.pem
integrations/*/*/admin_panel/build
integrations/*/*/identifo-admin-master
integrations/*/*/master.zip
integrations/aws/identifo lambda/static/apple-developer-domain-association.txt
web/static/apple-developer-domain-association.txt
