* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

.wrapper,
.wrapper-dark {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  // background-color: var(--main-background);
}
