.iap-jwt-settings-form--field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.iap-jwt-settings-form-action-btn {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 20px;
}
.iap-jwt-settings-form-pass-icon path{
    transition: all .2s linear;

}
.iap-jwt-settings-form-pass-icon:hover path {
    stroke: var(--main-color-hover);
}

.iap-jwt-settings-form--field-btn {
    width: 46px;
    height: 46px;
    background-color: var(--main-color);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color .2s linear;
}

.iap-jwt-settings-form--field-btn:hover {
    background-color: var(--main-color-hover);
}

.iap-jwt-settings-form--field button {
    margin-top: 8px;
}

.iap-jwt-settings-form--field textarea {
    height: 150px;
}