.iap-management-header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  z-index: 999;
  position: fixed;
  background-color: rgba(255, 255, 255, .95);
}

.iap-management-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.iap-management-header__logo {
  display: flex;
  padding: 0;
}

.iap-management-header__logo span {
  font: 400 18px var(--main-font);
  display: inline-block;
  display: flex;
  align-items: center;
}

.iap-management-header__logo span:first-of-type {
  padding-right: 9px;
  border-right: 1px solid #8d8d8d;
  color: #3d3d3d;
  height: 18px;
}

.iap-management-header__logo span:last-of-type {
  font: 400 14px var(--main-font);
  padding-left: 9px;
  color: #aaa;
  height: 20px;
}

.iap-header-profile {
  position: relative;
}

.iap-header-profile__trigger {
  font-size: 15px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}

.iap-header-profile__trigger:hover {
  opacity: .6;
}

.iap-header-profile__trigger:focus {
  color: #1B9CFC;
}

.iap-header-profile__trigger:focus:hover {
  opacity: 1;
}

.iap-header-profile__trigger span:first-of-type {
  margin-right: 10px;
}

.iap-profile-dropdown {
  padding: 4px 0;
  background: #fff;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, .3);
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: top right;
  animation: profile-dropdown-fadeout 100ms forwards;
  z-index: 1000;
  min-width: 150px;
}

.iap-profile-dropdown__section {
  width: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  text-align: left;
  font: normal 15px var(--main-font);
  padding: 10px 16px;
  cursor: pointer;
  color: #616161;
  display: flex;
  align-items: center;
}

.iap-profile-dropdown__section:hover,
.iap-profile-dropdown__section:focus {
  background-color: #f0f9ff;
}

.iap-profile-dropdown__section span:first-of-type {
  margin-left: 13px;
}

.iap-dropdown-icon {
  height: 11px;
  width: 11px;
  display: inline-block;
}

.iap-profile-dropdown__icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  transform: translateY(-2px);
}
