body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #eee;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
  width: 25%;
  min-width: 450px;
  border-radius: 5px;
}

.card__header {
  width: 100%;
  font-size: 26px;
  text-align: center;
  color: #343239;
  margin-bottom: 30px;
}

.card__header--large {
  font-size: 60px;
  margin-bottom: 40px;
}

.card__caption {
  text-align: center;
  margin: 0;
  padding: 0 40px;
  margin-bottom: 20px;
}

.card__input {
  border: none;
  font-size: 16px;
  margin-left: 10px;
  padding: 8px 12px 10px 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 60%;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
}

.card__submit {
  border-radius: 4px;
  text-align: center;
  color: #fbf9fb;
  background-color: #f03d33;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.card__message {
  position: absolute;
  font-size: 15px;
  font-weight: 300;
  bottom: 20px;
  margin: 0;
  transition: opacity 0.3s;
  width: 100%;
  text-align: center;
}

.card__message--error {
  color: rgb(255, 64, 64);
}

.card__text {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: #343239;
  margin: 0;
}

.hidden {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 70%;
    min-width: 300px;
    padding: 30px 20px;
  }

  .card__input {
    width: 70%;
  }

  .card__submit {
    margin-top: 10px;
    margin-left: 0;
    padding: 10px 22px;
    font-size: 20px;
  }

  .card__message {
    bottom: 6px;
    font-size: 14px;
  }
}