.body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #eee;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  padding-bottom: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
  width: 35%;
  min-width: 550px;
  border-radius: 5px;
}
.card__header {
  width: 100%;
  font-size: 26px;
  text-align: center;
  color: #343239;
  margin-bottom: 30px;
}
.card__header--large {
  font-size: 60px;
  margin-bottom: 10px;
}
.card__caption {
  text-align: center;
  margin: 0;
  padding: 0 40px;
  margin-bottom: 30px;
}

.field {
  width: 65%;
  padding-top: 16px;
  position: relative;
}

.field__input {
  border: none;
  font-size: 16px;
  padding: 8px 12px 10px 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
  width: 100%;
}

.field__error {
  text-align: right;
  width: 100%;
  color: rgb(255, 64, 64);
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.card__submit {
  border-radius: 4px;
  text-align: center;
  color: #fbf9fb;
  background-color: #f03d33;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.card__submit--large {
  margin-top: 20px;
  font-size: 22px;
  padding: 10px 28px;
}

.card__message {
  position: absolute;
  font-size: 16px;
  font-weight: 300;
  bottom: 10px;
  margin: 0;
  transition: opacity 0.3s;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card__message--error {
  color: rgb(255, 64, 64);
}
 .card__text {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: #343239;
  margin: 0;
}
.hidden {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 70%;
    min-width: 300px;
    padding: 30px 20px;
  }
  
 .card__header--large {
   font-size: 40px;
 }

.card__submit--large {
    margin-top: 14px;
    font-size: 18px;
    padding: 7px 20px;
  }
}