@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/Circe-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/Circe-Bold.woff');
  font-weight: 700;
  font-style: normal;
}
