@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
