.form-field {
  margin: 10px 0;
  position: relative;
}

.form-field__label {
  color: #5d5d5d;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.form-field__label-icon {
  height: 18px;
  width: 18px;
  margin-left: 5px;
  fill: #5d5d5d;
}

.form-field__subtext {
  font-size: 14px;
  color: #aaa;
  white-space: nowrap;
}