.demo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_buttons {
        display: flex;
        align-items: center;
        padding-top: 14px;
    }

    &_result {
        display: flex;
        width: 100%;
        max-width: 500px;
        white-space: pre-line;
        word-break: break-word;
        padding-top: 28px;

        pre {
            max-width: 100%;
            overflow: hidden;
            overflow-x: auto;
            padding: 10px;
            border-radius: 10px;
            background-color: #E2E3E6;
        }
    }
}