.iap-snack {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, .7);
    padding: 24px;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.iap-snack--controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.iap-snack--control-item {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border .2s linear;
    font-size: 14px;
    line-height: 22px;
}

.iap-snack--control-item:hover{
    border-bottom: 1px solid var(--main-color-hover);
}