.iap-section__title {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
  text-transform: uppercase;
  font: bold 13px 'Circe';
  color: #aaa;
}

.iap-section__description {
  font-size: 15px;
  margin: 0;
  padding-top: 5px;
}