.reset-password {
  width: var(--content-width);

  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text);
    max-width: 270px;
    margin: 0 auto 16px;
  }

  &__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    max-width: 189px;
    text-align: center;
    margin: 0 auto 48px;
  }

  .error {
    margin-top: 12px;
  }

  .primary-button {
    margin: 48px auto 0;
  }

  .primary-button-mt-32 {
    margin-top: 32px;
  }

  @include for-phone-only {
    width: 100%;
    max-width: var(--content-width);
    padding: 0 24px;

    .primary-button {
      margin-top: 32px;
    }
  }
}