{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/button-has-type": 0,
    "react/no-did-update-set-state": 0,
    "react/destructuring-assignment": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "arrow-body-style": 0,
    "no-return-assign": 0,
    "no-confusing-arrow": 0,
    "object-curly-newline": 0
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~", "./src"]
        ],
        "extensions": [".js"]
      }
    }
  },
  "globals": {
    "shallow": true
  },
  "env": {
    "browser": true,
    "jest": true
  }
}